# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea
.vscode/
*.iml

# IntelliJ
out/

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store

# Dart/Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Coverage
coverage/
